
@font-face {
    font-family: "Archivo";
    src: local("Archivo"),
      url("../fonts/ArchivoBlack-Regular.ttf") format("opentype");
    font-weight: normal;
  }

@font-face {
    font-family: "Rethink";
    src: local("Rethink"),
      url("../fonts/RethinkSans-VariableFont_wght.ttf") format("opentype");
    font-weight: normal;
  }

.custom_card {
    font-family: "Rethink";
    color: #2F495A;
}

.custom_navbar_item {
    font-family: "Rethink";
    color: #00C399;
    font-size: 22px;
}

@media (max-width: 768px) {
    .custom_navbar {

    }
}

.right_align {
    display: flex;
    justify-content: flex-end;
}

.side_by_side {
    display: flex;
    justify-content: space-between;
}

.small_text {
    font-size: 12px;
    font-weight: bold;
    color: #585757;
}

.reply_card {
    margin-left: 40px;
    margin-right: 40px;
}

.reply_text {
    font-family: "Rethink";
    font-size: 16px;
    color: #2f2a3f;
}

.comment_style {
    font-family: "Rethink";
    font-size: 18px;
    color: #10385e;
}